# pip install -r requirements.txt

# This file has been tweaked against upstream; assuming you're running RHEL,
# most dependencies are provided by the system. It's a bit of a tradeoff: using
# the system packages means you could be surprised by routine patching, but
# there's fewer dependencies to wrangle in the app's virtualenv.

# Most of these packages come from EPEL, you'll need to enable the repo for
# your server. python-bottle needs to be version 0.12 or greater, which EPEL6
# satisfies.
#
#     yum install python-bottle python-chardet python-elasticsearch python-lxml python-dateutil python-redis python-requests


# These are used by the interactive distiller frontend, they can be ignored if
# you don't use it (but you'll probably use it).
colorama
termcolor

# Needed for sane datetime handling (stat'ing files for mtime)
pytz
tzlocal

# distilling
requests
python-ldap
python-dateutil
elasticsearch

# web interface
bottle
pyScss
